a:link {
  color: purple;
}
/* ^ By default */

a:visited {
  color: red;
}
/* ^ after you click */

a:hover {
  color: yellow;
}
/* ^when you hover over it */

a:active {
  color: green;
}
/* ^when it is being actively clicked */
