div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one {
  background:pink;
  transform: translateX(50%);
  transform: rotateZ(45deg);
  /* rotate and rotateX is the same */
}

.two {
  background: green;
  transform: translate(20px, 20px);
  /* ^^^^^ Above is x axis, y axis........ You can also use translateY or translateX only */
  transform: rotateX(60deg);
  /* ^means x axis is the main line to rotate */
  transform: rotateY(60deg);
}

.three {
  background: blue;
  transform: scaleX(0.2);
  /* ^ just like translate, you can scaleX(), scaleY, OR just scale(with 1 or 2 values).... if scaleX(2)- it grows 2x of original size, if lets say ScaleX(0.5)- it gets smaller by half, except that NOWWW it gets equally smaller in left and right side (x-axis)  */
}

.four {
  background-color: yellow;
  transform: skewX(-20deg);
  /* ^ same like the other functions, but iin this case X axis (nearest to shape) is gonna stick with the shape and the other part of the shape is gonna skew*/
  /* youve got skewX, y, just skew with 1 or 2 values... */
}
