.green {
  color: green;
}

.red {
  color: red;
}

/* ^THESE ARE CLASS SELECTORS */

div {
  color: brown;
  background: yellow;
}

span {
  color: yellow;
  background: blue;
  text-transform: capitalize;
}
